html,
body{
  font-family: 'Sans Serif';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: black;
  background-color: white;
}

.wrapper{
    margin: 0 auto;
    width: 900px;
  
    @media (min-width: 700px) {
      width: 540px;
    }
}

.header-photo{
  background: linear-gradient(to bottom, #cfd6dd 50%, white 50%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo{
  border-radius: 250px;
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

.header-title{
  font-size: 35px;
  line-height: 39px;
  margin: 0;
}

.header-subtitle{
  font-size: 22px;
  line-height: 25px;
  color: #a4a3a2;
  margin-top: 10px;
}

.text-centered{
  text-align: center;
}



  